.rcmalarmanalysis-table-headremarks{
    font-size: 16px;
    padding: 0px 10px;
    line-height: 32px;
}
.rcmalarmanalysis-btn-exportexcel{
    float: right;
}
.rcmalarmanalysis-table{
    margin-top: 10px;
}