@media only screen and (max-width: 1200px){
  .rcmeffectiveness-table{
    overflow: auto;
  }

  .rcmeffectiveness-table .ant-card-body{
    min-width: 700px;
  }
}


#rcmeffectiveness-card-content .ant-card-head{
  background-color: lightblue;
}

